@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* utility classes */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


p {
    font-size: 18px;
}

.flex {
    display: flex;
    align-items: center;
}

/* styles */


.container {
    background-color: hsl(217, 54%, 11%);
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.box {
    width: 19vw;
    height: 63vh;
    background-color: hsl(216, 50%, 16%);
    border-radius: 18px;

}

/* IMG Section */

.img-box {
    background-image: url(images/image-equilibrium.jpg);
    background-size: cover;
    width: auto;
    height: 34vh;
    border-radius: 18px;
    margin: 20px 20px 0 20px;
}


.box h2 {
    color: white;
    padding: 15px 15px 15px 23px;
    font-family: 'Outfit', sans-serif;
}

.box h2:hover {
    color: hsl(178, 100%, 50%);
    transition: color 0.3s ease-out;
    cursor: pointer;
}

#h2-p {
    padding: 10px 15px 15px 23px;
    font-family: 'Outfit', sans-serif;
    opacity: 40%;
    color: white;
}

/* ETHERIUM SECTION */

#ETH-icon {
    color: hsl(178, 100%, 50%);
    font-family: 'Outfit', sans-serif;
    padding: 10px 15px 15px 23px;
}


.ETH {
    justify-content: space-between;
    gap: 20px;
}

.ETH p {
    padding: 10px 15px 15px 23px;
    font-family: 'Outfit', sans-serif;
    opacity: 40%;
    color: white;
}


hr {
    width: 330px;
    margin-left: 20px;
    opacity: 50%;
    color:hsl(215, 32%, 27%);
}

/* author section */


.author img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 30px;
}

.author p {
    font-family: 'Outfit','sans-serif';
    color: white;
    margin-top: 15px;
    padding:10px;
    opacity: 40%;
}

.author h3 {
    color: white;
    opacity: 70%;
    margin-top: 14px;
    font-family: 'Outfit','sans-serif';
}


.author h3:hover {
    color: hsl(178, 100%, 50%);
    transition: color 0.3s ease-out;
    cursor: pointer;
}